
.sidebar-1tnWFu {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffffff09;
}

[aria-label="Servers"]  {
  border-radius: 20px;
}

.newMessagesBar-1hF-9G {
  background: #1c3146
}

button {
  background: #1c3146
}

.container-1qIct {
 border-radius: 50px; 
} 

.container-ZMc96U {
  background: #1c3146;
}

.panels-3wFtMD {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
}

.tabBody-2dgbAs { 
  background: #1c3146;
} 

.chat-2ZfjoI {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px rgb(59, 58, 58) solid;
}

.container-2cd8Mz {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: #1e5e6e
}

.peopleList-2VBrVI {
  background-color: #0e2438
}

.perksModalContentWrapper-3RHugb {
  background-color: #0e2438
}


.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #eff;
    --interactive-hover: #eff;
    --interactive-active: #ffffff;
    --interactive-muted: #dcddde;

    --background-primary: #0e2438;
    --background-secondary: #1c3146;
    --background-secondary-alt:#1e5e6eb6; 

    --background-tertiary: #141625;
    --background-accent: #1c3146;
    --background-floating: #0a1b2b;
    --background-nested-floating: #0a1b2b;
    --background-mobile-primary: #1c3146;
    --background-mobile-secondary:  #1e5e6eb6;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: #143a44b6;
    --background-modifier-selected: #184d5ab6;
    --background-modifier-accent: rgba(218, 96, 96, 0.06);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: #1e5e6e;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #1e5e6e;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #1e5e6e;
    --scrollbar-auto-scrollbar-color-track: #1e5e6e;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default: #dddbdbb2;
    --guild-header-text-shadow: 0 2px 2px rgba(0,0,0,0.7);
    --channeltextarea-background: #1c3146;
    --activity-card-background: #4ca9c0b6;
    --textbox-markdown-syntax: #8e9297;
    --spoiler-revealed-background: #292b2f;
    --spoiler-hidden-background: #202225;

}



.info-3pQQBb::before {
  content: "Theme by: Hue#1935";
  font-size: 12px;
  color: var(--text-muted);
}
